body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    height: 100vh;
    gap: 10%;
}
.container{

    display: flex;
    flex-wrap: wrap;
    width: 500px;
    min-height: 500px;
    background-color: white;
    align-self: center;
}
.grid{
    box-sizing: border-box;
    border: 1px solid red;
}

.options{

    display: flex;
    flex-direction: column;
}